/*
mdc additions/modifications
*/

.mdc-toolbar__section--fixed {
  position: absolute;
  left: 0;
  bottom: -16px;
}
  
[dir="rtl"] .mdc-toolbar__section--fixed {
  right: auto;
  left: 0;
}

.mdc-typography--primary {
  color: var(--mdc-theme-primary-light);
}

.material-icons--rounded {
  font-size: 3em;
  background-color: var(--mdc-theme-primary-light);
  color: var(--mdc-theme-text-primary-on-primary);
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mdc-linear-progress--p-33 {
  transform: scaleX(0.33);
}

.mdc-linear-progress--p-87 {
  transform: scaleX(0.87);
}

.mdc-linear-progress--p-100 {
  transform: scaleX(1);
}

.mdc-linear-progress--p-56 {
  transform: scaleX(0.56);
}

/* 
sections
*/

.secondary-section {
  color: var(--mdc-theme-text-primary-on-secondary);
  background-color: var(--mdc-theme-primary-light);
}

.tertiary-section {
  color: var(--mdc-theme-text-primary-on-secondary);
  background-color: var(--mdc-theme-secondary-dark);
}

.quartenary-section {
  color: var(--mdc-theme-text-primary-on-primary);
  background-color: var(--mdc-theme-primary-dark);
  padding: 10px;
}

/*
margins & padding
*/

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.padding-left-10 {
  padding-left: 10px;
}

/*
flexbox
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  padding: 10px;
  text-align:center;
}

.flex-container--padded {
  padding-bottom: 25px;
}

.flex-item--big {
  flex-shrink: 0;
  width: 100px;
  margin-right: 10px;
}

.flex-item--small {
  width: 25%;
}

/*
left column lists
*/

.list {
  min-width: 100%;
}

.list__row--bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.list__item--padded {
  padding: 10px 0px;
}

.list__item--small {
  width: 40%;
}

.list__item--big {
  width: 60%;
}

/*
bullet figures
*/

 /*
 https://davidwalsh.name/css-triangles
 */

/* create an arrow that points right */
.arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 25px solid transparent;  /* left arrow slant */
	border-top: 25px solid transparent; /* right arrow slant */
	border-left: 25px solid #2196f3; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}

 /*
 https://davidwalsh.name/css-circles
 https://davidwalsh.name/css-triangles
 */

.circle {
  border-radius: 50%;
  display: inline-block;
}

.outer-circle {
  width: 24px;
  height: 24px;
  background: blue;
  position: relative;
}

.inner-circle {
  width: 12px;
  height: 12px;
  background: orange;
  position: absolute;
  top: 24%;
  left: 24%;
  display: block;
}

/*
media queries
*/ 
@media (min-width: 840px) {
  .mdc-layout-grid__cell--padding-sides {
    padding: 0px 50px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {

}

@media (max-width: 479px) {
  .mdc-layout-grid__cell--padding-sides {
    padding: 0px 25px;
  }
  .mdc-toolbar__section--fixed {
    bottom: -8px;
  }
  .mdc-list--two-line .mdc-list-item--bigger {
    height: 115px;
  }
}
